@import '~todomvc-common/base.css';
@import '~todomvc-app-css/index.css';

html, body {
	height: 100%;
	width: 100%;
	background: #9fd5fa;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	padding-top: 10%;
}

#app{
	margin-top: 20%;
	h1{
		color: #ffffff;
	}
}

.destroy, .toggle{
	cursor: pointer;
}

.toggle-all + label{
	top: 10px;
}